.navbar {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__img {
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		list-style: none;

		@media screen and(min-width: 500px) {
			flex-direction: row;
		}
	}

	&__item {
		padding: 10px;
	}

	&__link {
		text-decoration: none;
		color: gray;

		&:hover {
			color: #e5989b;
		}
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	margin: 60px;
	color: #577590;
	font-size: 40px;
}

.subtitle {
	margin: 40px;
	font-size: 30px;
}

.form {
	margin-bottom: 2rem;
	padding: 1rem;
	border-radius: 20px;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e5989b;
}

.label {
	margin: 0.5rem;
	padding: 0.6rem;
}

.input {
	width: 50%;
	margin: 0.5rem auto 0.5rem auto;
	padding: 0.5rem;
	border: none;
	outline: none;
	border-radius: 10px;
}

.btn {
	margin: 0.5rem;
	padding: 0.6rem;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	color: rgb(134, 134, 134);
	background-color: #E6E4AE;

	&:hover {
		background-color: #e6e4aed4;
	}

}

.reset {
	color: white;
	background-color: #5D8399;

	&:hover {
		background-color: #5d8399e5;
	}

}

.hidden {
	display: none;
}

.member {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;



	&__input {
		width: 20%;
		margin: 0.5rem auto 0.5rem auto;
		padding: 0.5rem;
		border: none;
		outline: none;
		border-radius: 10px;
	}
}